[Desktop Entry]
Type=Application
Version=1.0
Name=MiniOS Configurator
Name[de]=MiniOS Konfigurator
Name[es]=Configurador de MiniOS
Name[fr]=Configurateur MiniOS
Name[id]=MiniOS Konfigurator
Name[it]=Configuratore MiniOS
Name[pt]=Configurador do MiniOS
Name[pt_BR]=Configurador do MiniOS
Name[ru]=Конфигуратор MiniOS
Comment=Configure settings for MiniOS
Comment[de]=Einstellungen für MiniOS konfigurieren
Comment[es]=Configura los ajustes de MiniOS
Comment[fr]=Configurer les paramètres de MiniOS
Comment[id]=Konfigurasi pengaturan untuk MiniOS
Comment[it]=Configura le impostazioni per MiniOS
Comment[pt]=Configure as configurações do MiniOS
Comment[pt_BR]=Configurar as configurações do MiniOS
Comment[ru]=Настройте параметры для MiniOS
Keywords=configure;settings;
Keywords[ru]=настроить;параметры;
Keywords[pt_BR]=configurar;configurações;
Keywords[pt]=configurar;configurações;
Keywords[it]=configura;impostazioni;
Keywords[id]=konfigurasi;pengaturan;
Keywords[fr]=configurer;paramètres;
Keywords[es]=configurar;ajustes;
Keywords[de]=konfigurieren;Einstellungen;
Exec=/usr/bin/minios-configurator
Icon=preferences-system
Terminal=false
Categories=GTK;System;
NotShowIn=KDE;
X-Ayatana-Appmenu-Show-Stubs=False
