Source: minios-configurator
Section: utils
Priority: optional
Maintainer: crims0n <crims0n@minios.dev>
Build-Depends: debhelper (>= 11), gettext
Standards-Version: 4.1.3
Homepage: https://minios.dev

Package: minios-configurator
Architecture: all
Depends: ${misc:Depends},
         polkitd | policykit-1,
         pkexec | policykit-1,
         python3 (>= 3.8),
         python3-gi,
         gir1.2-gtk-3.0,
         gir1.2-glib-2.0,
         gir1.2-gio-2.0,
         whois,
         openssl,
         minios-live-config
Description: MiniOS Linux configuration utility.
 MiniOS Configurator is a utility specially designed for quick and easy
 configure MiniOS.
